* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 360px;
    background-color: white;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card h1 {
    color: #243b55;
    margin-bottom: 15px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #243b55;
    transition: 0.3s;
}

.card h2 {
    margin-top: 15px;
    color: #222;
}

.card h3 {
    color: #2878d4;
    margin: 8px 0;
}

.card p {
    color: #555;
    line-height: 1.5;
    margin: 10px 0 15px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    background-color: #243b55;
    color: white;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #2878d4;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

input {
    width: 100%;
    padding: 11px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-bottom: 8px;
}

#userName {
    font-size: 18px;
    font-weight: bold;
    color: #243b55;
}

.bonus {
    background-color: #7b2cbf;
}
